*{
    margin: 0px;
    padding: 0px;
}

.background{
    background-image: url("./Assets/Hero-bg.png");
   height: 698px;
   width: 100%;

}

   .text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 150px;
}
   


.leftside img {
    max-width: 120px;
    height: auto;
}

.b1{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}


.text2{
    display: list-item;
    justify-content: space-between;
    align-items: flex-end;
      justify-content: center;
    text-align: center;
    color: #252432;
    font-weight: bold;
    margin: 209px 267.5px 252px 267.5px;
    font-size: 40px;
    list-style-type: none;
    

}

.b2{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}

/* Navbar and Banner End.. */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 168px 116px 132px;
}


.rightside img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.b3{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}


