*{
    margin: 0px;
    padding: 0px;
}




.background{
    background-image: url("./Assets/Hero-bg.png");
   height: 898px;
   width: 100%;

}

   .text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 150px;
}
   


.leftside img {
    max-width: 120px;
    height: auto;
}

.b1{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}


.text2{
    display: list-item;
    justify-content: space-between;
    align-items: center;
      justify-content: center;
    text-align: center;
    color: #252432;
    font-weight: bold;
    margin: 209px 267.5px 252px 267.5px;
    font-size: 40px;
    list-style-type: none;
    

}

.b2{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}

/* Navbar and Banner End.. */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 168px 116px 132px;
}


.rightside img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.b3{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}

/* Action Section End */


.background2{
    background-color: #E5E7FF;
    height: 500px;
   width: 100%;
   margin: 0px 90px 0px 70px ;
    border-radius: 30px;
   justify-items: center;
   justify-content: center;
   align-items: center;
   align-content: flex-start;
  
}

.card-selection{
    padding: 230px 150px;
  justify-items: center;
  align-items: center;
  
}

.card-container{
    display: flex;
    gap: 80px;
}

.card{
    width: 250px;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(202, 176, 233);
}
.card h3{
    font-size: 1.30em;
    font-weight: 700;
}
.card image{
    width: 100%;
}

.Action{
    margin: 80px 130px;
    border: 30px 15px;
    border-radius: 20px;

    justify-items: center;
     display: list-item;
    justify-content: space-between;
    align-items: center;
      justify-content: center;
    text-align: center;
    font-size: 40px;
    list-style-type: none;
    
}


.b5{
    background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border: 0px 150px 0px 0px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
}

/* Hover-- */

.b1:hover {
  background-color: #e721cd;
}
.b2:hover {
  background-color: #e721cd;
}
.b3:hover {
  background-color: #e721cd;
}
.b4:hover {
  background-color: #e721cd;
}
.b5:hover {
  background-color: #e721cd;
}

.text3{
    font-size: 50px;
    color: #4E47FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.text-parents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}

/* Productive Users Section End */

.inputprants{
display: flex;
justify-content: space-between;
    align-items: center;
    margin: 116px 25px 116px 40px;

}

.leftside3{
    font-size: 100px
}

.rightside3{
    width: 550px;
    height: 250px;
    padding: 30px;
    align-content: center;
    border-radius: 5px;
    font-size: 1.25em;
    
}


ul{
    list-style-type: none;
}





.b4{
     background-color: #4E47FF;
    color: #E9E8FF;
    padding: 12px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
     width: 439px;     
  
  
    
}


/* Touch Section End */

.footer{
       display: flex;
justify-content: center;
    align-items: center;
    justify-items: center;
   align-content: flex-start;
}

.text4 image{
  
  
}

.footer2{
    color: #A3A2A2;
    display: flex;
    gap: 40px;
    justify-content: center;
}



a{
    text-decoration: none;
}